:root {
  --bg-agent-1: #fff;
  --bg-agent-2: #fff;
  --bg-agent-3: #fff;
  --bg-agent-4: #fff;
  color: #FFF;
}

#agent-id {
  font-size: 1.4rem;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  margin: 0;
}

.slick-dots {
  position: absolute;
  top: 0.1vh;
  height: 0.1vh;
}

.title-page {
  font-family: Valorant-font;
  color: var(--color-bege)
    /*#BBB*/
  ;
  padding-top: 5vh;
}

@media (max-width: 500px) {
  #agent-id {
    max-height: auto;
  }

  .title-page {
    padding-top: 10vh;
    font-size: 1.6rem;
  }
}