.agents {
  background: linear-gradient(0, #dcdcdc, var(--color-bege));
  color: var(--color-cabernet);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.agents h1 {
  font-family: Valorant-font;
}