#cardAgent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 20px;
}

#visual-card{
    border: 3px solid rgba(255, 255, 255, 0.501);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    background-color: aqua;
}

.img-card {
    width: 400px !important;
    position: absolute;
    background-size: contain;
    z-index: 1;
}

.bg-img-card {
    width: 450px;
    background-size: cover;
    position: relative;
    z-index: 0;
}
