#weapon-id {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

#navbar-weapon-skins {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 20%;
  background-color: #111;
}

#navbar-weapon-skins h1 {
  color: var(--color-cabernet);
  font-family: Valorant-font;
}

.btn-skins {
  padding: 15px 0;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: all 1s ease;
}

.btn-skins:hover {
  background-color: var(--color-cabernet);
}

.btn-skins:hover p {
  color: var(--color-bege);
}

.title-skin {
  padding: 0;
  margin: 0;
  font-family: Valorant-font;
  font-size: 1.4rem;
  color: var(--color-cabernet);
}

.img-weapon {
  height: 100px;
  margin: 50px;
}

.title-weapon {
  margin: 30px;
}

.weapon-content {
  width: 80%;
  background-color: var(--color-bege);
  color: var(--color-cabernet);
}

.weapon-stats {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stats {
  margin: 50px;
  text-align: justify;
  color: black;
  font-size: 1.4rem;
}

table {
  font-size: 1.2rem;
  border-collapse: collapse;
  border: 1px solid #000;
}

caption {
  padding: 10px;
  border: 1px solid #000;
  border-bottom: none;
}

tbody {
  margin: 10px;
  border: 1px solid #000;
}

th {
  width: 100px;
  padding: 5px 15px;
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
}