.weapons {
    position: relative;
    background-color: var(--color-cabernet);
}

.weapons h1 {
    font-family: Valorant-font;
    font-size: 1.4rem;
    color: #000;
}

.filtro {
    right: 50px;
    top: 15px;
    position: absolute;
}

.cards-weapon {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cards-weapon a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.card-weapon {
    border-radius: 20px;
    width: 400px;
    background-color: rgb(0, 0, 0, 0.2);
    /* background-color: rgb(255, 251, 245, 0.2); */
    border: 1px solid var(--color-bege);

    z-index: 1;
}

.card-weapon img {
    height: 75px;
    padding-top: 10px;
}