#weapon-id {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.slider-weapon-pc {
  height: 100px;
}

.slider-weapon-mobile {
  display: none;
}

#navbar-weapon-skins {
  position: relative;
  padding-top: 20px;
  margin: 0;
  width: 100%;
  background-color: #111;
}

#navbar-weapon-skins h1 {
  color: #FFF;
  font-family: Valorant-font;
}

.btn-skins {
  padding: 15px 0px;
  background-color: transparent;
  cursor: pointer;
  height: 80px;
  width: 100%;
  border: none;
  border-left: 3px solid #FFF;
  transition: all 1s ease;
}

.btn-skins:hover {
  filter: opacity(0.5);
}

.btn-skins:hover p {
}

.title-skin {
  padding: 0;
  margin: 0;
  font-family: Valorant-font;
  font-size: 1.4rem;
  color: var(--color-cabernet);
}

.img-weapon {
  height: 100px;
  margin: 50px;
}

.title-weapon {
  margin: 30px;
}

.weapon-content {
  width: 100%;
  background-color: var(--color-bege);
  color: var(--color-cabernet);
}

.weapon-stats {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin: 0 100px;
}

.stats {
  margin: 100px;
  text-align: justify;
  color: black;
  font-size: 1.4rem;
}

table {
  font-size: 1.2rem;
  border-collapse: collapse;
  border: 1px solid #000;
}

caption {
  padding: 10px;

  border: 1px solid #000;
  border-bottom: none;
}

tbody {
  margin: 10px;
  border: 1px solid #000;
}

th {
  width: 100px;
  padding: 5px 15px;
  border: 1px solid #000;
}

td {
  border: 1px solid #000;
}

@media (max-width: 500px) {
  #navbar-weapon-skins {
    width: 100%;
  }

  .btn-skins {
    height: 20px;
    border: none;
  }

  .slider-weapon-mobile {
    display: block;
    height: 30px;
  }

  .slider-weapon-pc {
    display: none;
  }

  #navbar-weapon-skins {
    padding-top: 10px;
  }

  #navbar-weapon-skins h1 {
    font-size: 1rem;
  }
  
  .title-skin{
    color: var(--color-bege);
    font-size: 0.6rem;
  }
  .weapon-content {
    padding-top: 50px;
  }
  .btn-skins {
    padding: 5px 0;
  }
  
    .img-weapon {
      height: 50px;
      margin: 0;
    }
  
    .weapon-stats {
      margin: 0;
    }
    .stats {
      font-size: 0.8rem;
      margin: 20px 5px;
    }
}

@media (max-width: 300px) and (min-width: 250px) {
  .weapon-content h1 {
    font-size: 1.2rem;
  }

  .img-weapon {
    height: 35px;
  }

  table {
    margin-top: 10px;
    font-size: 0.6rem;
    width: 185px !important;
  }
  th {
    padding: 3px 4px;
  }
}

@media (max-width: 360px) and (min-width: 301px) {
  .weapon-content h1 {
    font-size: 1.2rem;
  }

  .img-weapon {
    height: 45px;
  }

  table {
    margin: 10px 5px 5px 0;
    font-size: 0.6rem;
    width: 240px !important;
  }
  th {
    padding: 3px 4px;
  }
}

@media (max-width: 400px) and (min-width: 361px) {
  .weapon-content h1 {
    font-size: 1.2rem;
  }
  table {
    margin: 10px 5px 5px 0;
    font-size: 0.6rem;
    width: 260px !important;
  }
  th {
    padding: 3px 4px;
  }
}

@media (max-width: 450px) and (min-width: 401px) {
  .weapon-content h1 {
    font-size: 1.2rem;
  }

  .img-weapon {
    height: 50px;
  }

  table {
    margin: 10px 5px 5px 0;
    font-size: 0.6rem;
    width: 260px !important;
  }
  th {
    padding: 3px 4px;
  }
}