.map-id {
    margin: 0;
    height: 100%;
    position: relative;
    filter: opacity(0.8);
}

.bg-map {
    max-width: 1920px !important;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 1;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.map-icon {
    width: 650px !important;
}

.card-coordinates {
    color: black;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: rgb(255, 251, 245, 0.3);
}

