.maps {
    width: 100%;
    background: linear-gradient(0, var(--color-vinho), var(--color-cabernet));
    padding-bottom: 100px;
    font-family: Valorant-font;
    padding-top: 30px;
    color: var(--color-bege);
}

.maps a {
    text-decoration: none;
    color: var(--color-vinho);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-map {
    background-image: linear-gradient(0, var(--color-cabernet), var(--color-vinho));
    color: var(--color-bege);
    border: 1px solid var(--color-bege);
    margin: 20px;
    border-radius: 0 0px 20px 20px;
}

.card-map img {
    width: 550px;
}

@media (max-width: 500px) {
    .maps {
        padding: 0;
        padding-bottom: 20px;
    }

    .card-map {
        margin: 20px 0 0 0;
    }

    .card-map img {
        width: 320px;
    }
}

@media (max-width: 300px) {
    .maps {
        padding: 0;
        padding-bottom: 20px;
    }

    .card-map {
        margin: 20px 0 0 0;
    }

    .card-map img {
        width: 260px;
    }
}