.maps {
  width: 100%;
  /* background: linear-gradient(0, var(--color-vinho), var(--color-cabernet));
     */
  background-color: #171717;
  padding-bottom: 100px;
  font-family: Valorant-font;
  padding-top: 30px;
  color: var(--color-bege);
}

.maps a {
  text-decoration: none;
  color: var(--color-vinho);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-map {
  position: relative;
  color: var(--color-bege);
  box-shadow: 17px 17px 34px #111111, -17px -17px 34px #1d1d1d;
  margin: 20px;
  border-radius: 20px;
}

.card-map p {
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 12px 0;
  top: 0;
  z-index: 99;
}

.card-map img {
  border-radius: 20px;
  width: 550px;
  /* height: 300px; */
  object-fit: cover;
}

@media (max-width: 500px) {
  .maps {
    padding: 0;
    padding-bottom: 20px;
  }

  .card-map {
    margin: 20px 0 0 0;
  }

  .card-map img {
    width: 320px;
  }
}

@media (max-width: 300px) {
  .maps {
    padding: 0;
    padding-bottom: 20px;
  }

  .card-map {
    margin: 20px 0 0 0;
  }

  .card-map img {
    width: 260px;
  }
}
