:root {
  --bg-agent-1: #000;
  --bg-agent-2: #000;
  --bg-agent-3: #000;
  --bg-agent-4: #000;
  color: #FFF;
}

#agent-id {
  background-image: linear-gradient(to right, var(--bg-agent-1), var(--bg-agent-4)) !important;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#agent-id h1 {
  font-family: Valorant-font;
  color: #BBB;
  padding: 15px;
  margin: 0;
  padding: 0;
}

.conteudo-agent {
  display: flex;
  flex-direction: row;
  position: relative;
}

#button-navigation {
  position: absolute;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  top: 350px;
}

.btn-navigation {
  background: transparent;
  border: none;
  font-size: 6rem;
}

.btn-navigation img {
  width: 64px;
  height: 64px;
}

.btn-navigation:hover {
  cursor: pointer;
}

.invert img {
  rotate: 180deg;
}