
.infos {
  display: flex;
  flex-direction: column;
}

.description {
  color: var(--color-bege);
  font-size: 1.2rem;
  width: 600px;
}

.caracteristicas {
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 2px ridge #CCC;
}

.display-agent {
  display: flex;
  flex-wrap: wrap;
}

.card-agent {
  display: flex;
  flex-direction: column;
  filter: opacity(0.8);
  justify-content: center;
  width: 500px;
  border: 2px ridge #CCC;
  margin: 20px;
}

.card-agent p {
  text-align: justify;
  margin: 0px 10px 10px 10px;
  font-size: 1.1rem;
}

.title-agent {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-agent img {
  width: 3.6rem;
  margin-right: 15px;
}

.description {
  width: 1000px;
  font-size: 1.4rem;
  text-align: justify;
  margin: 20px;
}