@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
  font-family: Valorant-font;
  src: url('../assets/fonts/Valorant\ Font.ttf');
}

h1 {
  margin: 0;
}

:root {
  font-family: 'Josefin Sans', sans-serif;
  --color-bege: #FFFBF5;
  --color-vinho: #53212B;
  --color-vinho-claro: #BD3944;
  --color-cabernet: #fd4556;
  --color-preto: #000;
  --color-1: #90e3fdff;
  --color-2: #557f8cff;
  --color-3: #2b4e7cff;
  --color-4: #1e3344ff;
}

html,
body {
  background-color: var(--color-bege);
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root,
.App {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
}

@media (max-width:500px) {
  body {
    max-width: 450px;
    width: 100%;
  }
}