@font-face {
  font-family: Valorant-font;
  src: url('../assets/fonts/Valorant\ Font.ttf');
}

:root {
  font-family: Valorant-font;
  --color-bege: #FFFBF5;
  --color-vinho: #53212B;
  --color-vinho-claro: #BD3944;
  --color-cabernet: #FD4556;
  --preto: #000;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root, .App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
